# 1. 先忽略所有內容
*

# 2. 強制排除系統敏感資料夾（確保這兩項不被後面的規則覆蓋）
/$RECYCLE.BIN/
/System Volume Information/
/System\ Volume\ Information/

# 3. 允許特定的副檔名
!*.txt
!*.jpg
!*.png

# 4. 允許目錄結構（但排除掉上面那兩個系統資料夾）
# 這裡使用 !*/ 會讓 Git 嘗試進入所有資料夾，
# 所以上面的強制排除建議加上「/」開頭，指定為根目錄下的這兩個資料夾
!*/